<div>

<p>You entered <%= @link.input_link %>.</p>

<p>Your Ritly shortened URL code is <%= @link.output_code %>.</p>

<p>Go to <a href="/go/<%= @link.output_code %>">localhost:3000/go/<%= @link.output_code %></a> to visit your URL.</p>

</div>